# Citi Bike Data Analysis
---
### Basic Statistics And Pre Production for Tableau Data Analysis

**Module 18**

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

I decided to work with one of the busiest months of 2024: July and create a comparison with data from 2014 for the same month. This is a cleaning July 2014 process

### 2014

In [2]:
#Import csv file 
jul2014_data = Path("Resources/2014/7_July/201407-citibike-tripdata_1.csv")

# Read the data
jul2014_df = pd.read_csv(jul2014_data)

In [3]:
# Display the data table for preview July 2014
jul2014_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968842 entries, 0 to 968841
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             968842 non-null  int64
 1   starttime                968842 non-null  object
 2   stoptime                 968842 non-null  object
 3   start station id         968842 non-null  int64
 4   start station name       968842 non-null  object
 5   start station latitude   968842 non-null  float64
 6   start station longitude  968842 non-null  float64
 7   end station id           968842 non-null  int64
 8   end station name         968842 non-null  object
 9   end station latitude     968842 non-null  float64
 10  end station longitude    968842 non-null  float64
 11  bikeid                   968842 non-null  int64
 12  usertype                 968842 non-null  object
 13  birth year               968842 non-null  object
 14  gender                   968842 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 110.9+ MB

July 2014 - no Null or NaNs

----

## CLEANING    DATA

---

In [4]:
#our colums starttime and stoptime are 'object' 
# we need it to be in datetime format
Jul2014_df_edt=jul2014_df.copy()
Jul2014_df_edt["starttime"] = pd.to_datetime(Jul2014_df_edt["starttime"])
Jul2014_df_edt["stoptime"] = pd.to_datetime(Jul2014_df_edt["stoptime"])
Jul2014_df_edt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968842 entries, 0 to 968841
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             968842 non-null  int64
 1   starttime                968842 non-null  datetime64[ns]
 2   stoptime                 968842 non-null  datetime64[ns]
 3   start station id         968842 non-null  int64
 4   start station name       968842 non-null  object
 5   start station latitude   968842 non-null  float64
 6   start station longitude  968842 non-null  float64
 7   end station id           968842 non-null  int64
 8   end station name         968842 non-null  object
 9   end station latitude     968842 non-null  float64
 10  end station longitude    968842 non-null  float64
 11  bikeid                   968842 non-null  int64
 12  usertype                 968842 non-null  object
 13  birth year               968842 non-null  object
 14  gender                   968842 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(5), object(4)
memory usage: 110.9+ MB

In [5]:
#checking the output for our starttime and endtime columns 
print(Jul2014_df_edt[['starttime', 'stoptime']].head(10))

            starttime            stoptime
0 2014-07-01 00:00:04 2014-07-01 00:06:48
1 2014-07-01 00:00:06 2014-07-01 00:14:16
2 2014-07-01 00:00:21 2014-07-01 00:26:11
3 2014-07-01 00:00:29 2014-07-01 00:07:06
4 2014-07-01 00:00:37 2014-07-01 00:10:46
5 2014-07-01 00:01:09 2014-07-01 00:38:34
6 2014-07-01 00:01:15 2014-07-01 00:23:18
7 2014-07-01 00:01:16 2014-07-01 00:06:36
8 2014-07-01 00:01:18 2014-07-01 00:41:48
9 2014-07-01 00:01:21 2014-07-01 00:13:01

In [6]:
# Now, Let's calculate duration in minutes. we recalculate this column 
# as duration in seconds that we originaly had it is really hard to understand 

Jul2014_df_edt['tripduration'] = (
    Jul2014_df_edt['stoptime'] - Jul2014_df_edt['starttime']
)

Jul2014_df_edt['tripduration_minutes'] = (
    Jul2014_df_edt['tripduration'].dt.total_seconds() / 60
).round(2)

# Check the result
Jul2014_df_edt[['starttime', 'stoptime', 'tripduration','tripduration_minutes']].head(10)

,starttime,stoptime,tripduration,tripduration_minutes
0,2014-07-01 00:00:04,2014-07-01 00:06:48,0 days 00:06:44,6.73
1,2014-07-01 00:00:06,2014-07-01 00:14:16,0 days 00:14:10,14.17
2,2014-07-01 00:00:21,2014-07-01 00:26:11,0 days 00:25:50,25.83
3,2014-07-01 00:00:29,2014-07-01 00:07:06,0 days 00:06:37,6.62
4,2014-07-01 00:00:37,2014-07-01 00:10:46,0 days 00:10:09,10.15
5,2014-07-01 00:01:09,2014-07-01 00:38:34,0 days 00:37:25,37.42
6,2014-07-01 00:01:15,2014-07-01 00:23:18,0 days 00:22:03,22.05
7,2014-07-01 00:01:16,2014-07-01 00:06:36,0 days 00:05:20,5.33
8,2014-07-01 00:01:18,2014-07-01 00:41:48,0 days 00:40:30,40.50
9,2014-07-01 00:01:21,2014-07-01 00:13:01,0 days 00:11:40,11.67

In [7]:
#re-Checking data format for all columns
Jul2014_df_edt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968842 entries, 0 to 968841
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             968842 non-null  timedelta64[ns]
 1   starttime                968842 non-null  datetime64[ns]
 2   stoptime                 968842 non-null  datetime64[ns]
 3   start station id         968842 non-null  int64
 4   start station name       968842 non-null  object
 5   start station latitude   968842 non-null  float64
 6   start station longitude  968842 non-null  float64
 7   end station id           968842 non-null  int64
 8   end station name         968842 non-null  object
 9   end station latitude     968842 non-null  float64
 10  end station longitude    968842 non-null  float64
 11  bikeid                   968842 non-null  int64
 12  usertype                 968842 non-null  object
 13  birth year               968842 non-null  object
 14  gender                   968842 non-null  int64
 15  tripduration_minutes     968842 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(4), timedelta64[ns](1)
memory usage: 118.3+ MB

In [8]:
#Check the data
Jul2014_df_edt.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_minutes
0,0 days 00:06:44,2014-07-01 00:00:04,2014-07-01 00:06:48,545,E 23 St & 1 Ave,40.736502,-73.978095,402,Broadway & E 22 St,40.740343,-73.989551,19578,Subscriber,1987,2,6.73
1,0 days 00:14:10,2014-07-01 00:00:06,2014-07-01 00:14:16,238,Bank St & Washington St,40.736197,-74.008592,458,11 Ave & W 27 St,40.751396,-74.005226,19224,Subscriber,1987,1,14.17
2,0 days 00:25:50,2014-07-01 00:00:21,2014-07-01 00:26:11,223,W 13 St & 7 Ave,40.737815,-73.999947,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,17627,Subscriber,1973,2,25.83
3,0 days 00:06:37,2014-07-01 00:00:29,2014-07-01 00:07:06,224,Spruce St & Nassau St,40.711464,-74.005524,2008,Little West St & 1 Pl,40.705693,-74.016777,15304,Subscriber,1982,1,6.62
4,0 days 00:10:09,2014-07-01 00:00:37,2014-07-01 00:10:46,346,Bank St & Hudson St,40.736529,-74.006180,521,8 Ave & W 31 St,40.750450,-73.994811,20062,Subscriber,1972,2,10.15

In [9]:
# let's check what do we have for 2014
#in column "usertype"
Jul2014_df_edt["usertype"].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [10]:
#renaming Subscriber to "member" and Customer to "non-member"
Jul2014_df_edt['usertype'] = Jul2014_df_edt['usertype'].replace(
    {'Subscriber': 'member', 
     'Customer': 'non-member'
     })

In [11]:
#checking the succsess 
Jul2014_df_edt["usertype"].unique()

array(['member', 'non-member'], dtype=object)

In [12]:
#Check next column "birth year"
Jul2014_df_edt["birth year"].value_counts()

birth year
\N      119125
1983     38660
1984     37532
1985     37287
1986     35974
         ...
1921         8
1907         4
1924         2
1930         2
1931         1
Name: count, Length: 79, dtype: int64

we can see that birth year in a reality has no value as lots of data is missing or fake

In [13]:
#checking column "gender"
#Gender (Zero=unknown; 1=male; 2=female)
Jul2014_df_edt["gender"].value_counts()

gender
1    647466
2    202136
0    119240
Name: count, dtype: int64

as this column is missing in the 2024 dataset, and again: too much missing data. we just letting this column go

In [14]:
#Checking "bikeid" column
Jul2014_df_edt["bikeid"].value_counts()

bikeid
18429    339
14814    333
14657    331
19159    322
21637    322
        ...
14938      1
19090      1
17473      1
16849      1
15848      1
Name: count, Length: 6204, dtype: int64

eventhough this data cold be interesting to see how many times per month was every bike used, we are not really interested in it this time

In [15]:
#Let's unify the titles for all columns
Jul2014_df_edt.rename(columns={
    'starttime': 'start_time',
    'stoptime': 'end_time',
    'tripduration': 'trip_duration',
    'tripduration_minutes': 'trip_duration_minutes',
    'start station name': 'start_station_name',
    'start station id': 'start_station_id',
    'end station name': 'end_station_name',
    'end station id': 'end_station_id',
    'start station latitude': 'start_lat',
    'start station longitude': 'start_lng',
    'end station latitude': 'end_lat',
    'end station longitude': 'end_lng',
    'usertype': 'membership'

 }, inplace=True)

Jul2014_df_edt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968842 entries, 0 to 968841
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trip_duration          968842 non-null  timedelta64[ns]
 1   start_time             968842 non-null  datetime64[ns]
 2   end_time               968842 non-null  datetime64[ns]
 3   start_station_id       968842 non-null  int64
 4   start_station_name     968842 non-null  object
 5   start_lat              968842 non-null  float64
 6   start_lng              968842 non-null  float64
 7   end_station_id         968842 non-null  int64
 8   end_station_name       968842 non-null  object
 9   end_lat                968842 non-null  float64
 10  end_lng                968842 non-null  float64
 11  bikeid                 968842 non-null  int64
 12  membership             968842 non-null  object
 13  birth year             968842 non-null  object
 14  gender                 968842 non-null  int64
 15  trip_duration_minutes  968842 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(4), timedelta64[ns](1)
memory usage: 118.3+ MB

In [16]:
#Also for this dataset we shall need a ride_ID but also we need it to be an 'object' data type
#same as our ride_id in 2024 data 
Jul2014_df_edt["ride_id"] = Jul2014_df_edt.index.astype(str) + "l2014"
Jul2014_df_edt.dtypes["ride_id"]

dtype('O')

In [17]:
#re-creating same df with columns we shall use in analysis
Jul2014_df_edt = Jul2014_df_edt[[
    'ride_id','start_station_id', 'start_station_name', 'end_station_id', 'end_station_name',
    'start_time', 'end_time', 'trip_duration', 'trip_duration_minutes','membership',
    'start_lat', 'start_lng','end_lat', 'end_lng',
    
]]
Jul2014_df_edt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968842 entries, 0 to 968841
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ride_id                968842 non-null  object
 1   start_station_id       968842 non-null  int64
 2   start_station_name     968842 non-null  object
 3   end_station_id         968842 non-null  int64
 4   end_station_name       968842 non-null  object
 5   start_time             968842 non-null  datetime64[ns]
 6   end_time               968842 non-null  datetime64[ns]
 7   trip_duration          968842 non-null  timedelta64[ns]
 8   trip_duration_minutes  968842 non-null  float64
 9   membership             968842 non-null  object
 10  start_lat              968842 non-null  float64
 11  start_lng              968842 non-null  float64
 12  end_lat                968842 non-null  float64
 13  end_lng                968842 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(4), timedelta64[ns](1)
memory usage: 103.5+ MB

In [18]:
#Once again checking that we do not have missing points
Jul2014_df_edt[["start_lat", "start_lng", "end_lat", "end_lng"]].isnull().sum()

start_lat    0
start_lng    0
end_lat      0
end_lng      0
dtype: int64

### EXPORT CLEANED DATA

In [19]:
#let's export our data for next step in tableau
Jul2014_df_edt.to_csv("Output/bike_data_jul_2014.csv", index=False)